	
			
			
		    <div class="container cont">
		      <div class="header">
		        <h1>About Me</h1>
		      </div><!-- end header -->
		    </div><!-- end container -->

		    <div class="image column">
	  			<%= image_tag("kitten.jpg", class: "img-responsive") %>
			</div><!-- end image -->

			<div class="intro column">
				<h2>Introduction</h2>
				<p>Hey I am Dominik Kallen</p>
			</div>

			<div class="skills column">
			  <h3>My Skills</h3>
			    <ul id="skill-list">
			      <li>HTML</li>
			      <li>CSS</li>
			      <li>Ruby on Rails</li>
			    </ul>
			</div><!-- end skill -->

			<div class="main-text">
				<h3>More About Me</h3>
				<p>
					I am a recent business graduate with an affinity for strategy and capital markets in all their facets. My prior work experience displays my interest in other cultures and flexibility to work and live all over the planet.
	                A constant search for new challenges and inspiring business contacts shapes my professional career and personality.
	                <br>
	                Feel free to check out my LinkedIn Profile:
	                <a href="http://linkedin.com/in/dominik-kallen-1991b782">Dominik Kallen</a> 
	            </p>
			</div>
