  
      
      <div class="container anchor" id="contact">
      <div class="row">
        <div class="col-xs-12">
        
            <div class="header">
              <h2>Contact Information</h2>
              
              <p>
               Hello, You people can contact us on the below mentioned Email and Phone numbers. We will get back to you as fast as we can.
              </p>
           
              <h4>dominik@students.ebs.edu</h4>
            </div>
            <div class="phone"> 
              <p><b> +49 1516 4600957</b> &nbsp; <span class="glyphicon glyphicon-earphone"></span></p>
            </div><!-- end Phone -->
            <p>
              I am based in Germany. You can contact me any time and I would love to help your query. Thank You so much for coming.
            </p>
            <div class="address">
              <h4>Beinerstraβe 8 65375 Oestrich-Winkel Germany &nbsp; <span class="glyphicon glyphicon-user"></span></h4>
            </div><!-- end address -->
            <p> Thank you so much for coming to our page, Follow us on Linkedin  </p>

            <p><a class="btn btn-default" href="http://linkedin.com/in/dominik-kallen-1991b782" role="button">LinkedIn &raquo;</a></p>
               
        </div>
      </div>
    </div>
      
    