	<div class="container anchor" id="contact">
      <div class="row">
        <div class="col-xs-12">
        
			<p>Welcome! The date and time is <%= Time.now %></p>

			<% test_variable = 42 %>
			<%= test_variable %>

			<%= test_variable - 2 %>

			<h1>Welcome to Bike Berlin</h1>
			<h4>Your source for used bikes in Berlin</h4>

			<br>
		</div>
	 </div>
	</div> 		

<div class="container">
	<%= image_tag("kitten.jpg", class: "img-responsive my-image") %>
</div>